
.navbar{
    background: #fff;
}
#graph-container {
    height: 100%;
}
#common_friends{
    height: 200px;
    overflow:scroll;
}
.sigma-edge {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

.sigma-node {
    stroke: rgb(0,255,0);
    stroke-width: 2px;
}
.sigma-node:hover {
    cursor: pointer;
    fill-opacity: .5;
    fill: blue;
}
.muted {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}
.sigma-node.muted {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}
.sigma-edge.muted{
    fill-opacity: 0.001;
    stroke-opacity: 0.001;
}

.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
}


.graph-area{
    position: absolute;
    top: 0;
    width: 80%;
    bottom: 0;
}


body {
}

/* Profile container */
.profile {
    bottom: 0;

}

/* Profile sidebar */
#profile-sidebar {
    padding: 100px 0 10px 0;
    background: #fff;
    bottom: 0;
    height: 100%;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;

    min-height: 460px;
}
